*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

/* NAVBAR */
.ms-auto{
    padding-right: 2rem;
}

.navbar-brand{
    color: #2a4a7b;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Contenido Principal */

h1 {
    color: #2a4a7b;
    font-size: 3rem;
    font-weight: 700;
}

.div-contenidoPrincipal{
    background-color: #f5f2f2;
    display: flex;
    flex-direction: column;
}

.contact-img{
    width: 1.4rem;
}

.img-perfil{
    width: 60%;
    height: 5%;
    color: transparent;
    border-radius: 10rem;
    padding-top: 1.5rem; 
}

.div-img{
    display: flex;
    justify-content: center;
}

.p-contenido-principal{
    font-size: 16px;
}

/* ABOUT ME */

h2{
    color: #2a4a7b;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}

.p-sobreMi{
    font-size: 16px;
}

/* Services */

.myServices{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: #f5f2f2;
}