*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    margin-top: 3.2rem;
}

/* NAVBAR */
.ms-auto{
    padding-right: 2rem;
}

.navbar .nav-link{
    color: #2a4a7b !important;
    text-decoration: none;
    font-weight: 600;
}

.dropdown-item{
    color: #2a4a7b;
    font-weight: 600;
}

.navbar-brand{
    color: #2a4a7b;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Contenido Principal */

h1 {
    color: #2a4a7b;
    font-size: 3rem;
    font-weight: 700;
}

.div-contenidoPrincipal{
    background-color: #f5f2f2;
    display: flex;
    flex-direction: column;
}



.contact-img{
    width: 1.4rem;
}

.img-perfil{
    width: 60%;
    height: 5%;
    color: transparent;
    border-radius: 10rem;
    padding-top: 1.5rem; 
}

.div-img{
    display: flex;
    justify-content: center;
}

.p-contenido-principal{
    font-size: 16px;
}

/* ABOUT ME */

h2{
    color: #2a4a7b;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}

.p-sobreMi{
    font-size: 16px;
}

/* Services */

.myServices{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: #f5f2f2;
}

/* PROJECTS */

.myProject{
    padding-bottom: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-indicators button {
    display: none;
}

h5{
    font-weight: 700;
    color: rgb(49, 75, 75);
}

.btn-secondary{
    width: 45%;
}

.myProject p{
    font-size: 14px;
}

/* Contact */

.contactSite{
    background-color: #f5f2f2;
}

.contact-p{
    text-align: center;
}

.buttons-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.buttons-contact #contactMe{
    width: 70%;
}

.buttons-contact #linkendIn{
    width: 70%;
}

/* media query pantallas tablet */
@media (min-width: 768px) {

    body{
        margin-top: 2rem;
    }

  h1 {
    font-size: 2.8rem;
    width: auto;
  }

  .p-contenido-principal {
    width: 40ch;
    font-size: 16px;
  }

  .div-contenidoPrincipal {
    padding: 2rem;
    height: auto;
  }

  .img-perfil {
    width: 28%;
    position: static;
    margin: 2rem auto 0;
    display: block;
  }

  .div-a {
    justify-content: flex-start;
  }

  /* About */
  .p-sobreMi {
    width: 70ch;
    font-size: 16px;
    margin: auto;
  }

  /* Services */
  .myServices {
    height: 22rem;
    margin-top: 2rem;
  }

  /* Carousel */
  .project-img {
    width: 32rem !important;
    margin: auto;
  }

  .project-img4{
    width: 20rem !important;
    margin: auto;
  }

  .carousel-item p {
    font-size: 15px;
}
.carousel-item p{
  width: 50ch;
  margin: auto;
  padding-bottom: 1rem;
}

.mt-3 a{
  width: 10rem;
}

  /*  contact */
  .buttons-contact #contactMe{
    width: 14rem;
  }

  .buttons-contact #linkendIn{
    width: 14rem;
  }

  .contactSite{
    height: 12rem;
    width: 90%;
    margin: auto;
  }

}

/* media query pantallas laptops medianas */
@media (min-width: 992px) {

  h1 {
    font-size: 3.5rem;
  }

  .p-contenido-principal {
    width: 44ch;
    font-size: 17px;
  }

  .div-contenidoPrincipal {
    height: 22rem;
    padding-left: 4rem;
  }

  .img-perfil {
    width: 16%;
    position: absolute;
    top: 1rem;
    right: 6rem;
    height: auto;
  }

  .p-sobreMi {
    width: 80ch;
    font-size: 17px;
  }

  /* Carousel */
  .project-img {
    width: 36rem !important;
  }

  .carousel-item p {
    max-width: 44ch;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}



/* media query pantallas grandes */
@media (min-width: 1200px) {

    /* NAVBAR */

    .navbar-brand{
        font-size: 26px;
    }

/* Contenido principal */

body {
  padding-top: 5rem;
}

h1{
    width: 2ch;
    font-size: 4rem;
}

.p-contenido-principal{
    width: 46ch;
    font-size: 18px;
}

.img-perfil{
    width: 14%;
    height: auto;
    position: absolute;
    top: 3.5rem;
    right: 20rem;
}

.div-contenidoPrincipal{
    height: 24rem;
   padding-left: 5rem;
   padding-top: 1rem;
}

.div-a{
display: flex;
padding-top: 1rem;
gap: 0.5rem;
}

#contactMe1 {
    width: 12rem;
    height: 2.5rem;
}

#linkendIn{
    width: 12rem;
    height: 2.5rem;
}

/* about me */
.p-sobreMi{
    width: 85ch;
    margin: auto;
    gap: 1rem;
    font-size: 18px;
}

/* MY SERVICES */

.myServices{
    margin-top: 1rem;
    height: 22rem;
}

#exampleModalLabel{
    font-size: small;
}

/* carrusel */

.project-img{
    width: 40rem !important;
    margin: auto;
}

.project-img4{
    width: 24rem !important;
    height: auto !important;
    margin: auto;
}

.carousel-item .btn-secondary {
    width: 9rem;
}

.carousel-item p{
    font-size: 16px;
    max-width: 46ch;
    margin: auto;
    padding-bottom: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

/* contact */

.contactSite{
    height: 10rem;
    width: 84%;
    margin: auto;
}

.buttons-contact #contactMe{
    width: 12rem;
}

.buttons-contact #linkendIn{
    width: 14rem;
}

.buttons-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}