* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin-top: 4rem;
}

h1, h2, h3 {
  font-family: 'Manrope', sans-serif;
}

p, li {
  font-family: 'Inter', sans-serif;
}


/* NAVBAR */
.ms-auto {
  padding-right: 2rem;
}

.navbar .nav-link {
  color: #03071e !important;
  text-decoration: none;
  font-weight: 600;
}

.dropdown-item {
  color: #2a4a7b;
  font-weight: 600;
}

.navbar-brand {
  color: #03071e;
  font-size: 1.3rem;
  font-weight: 500;
}

/* Contenido Principal */

h1 {
  color: #1a3c6f;
  font-size: 3rem;
  font-weight: 700;
}

.div-contenidoPrincipal {
  background-color: #f5f2f2;
  display: flex;
  flex-direction: column;
}

.img-perfil {
  width: 55%;
  height: 5%;
  color: transparent;
  border-radius: 10rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.div-img {
  display: flex;
  justify-content: center;
}

.p-contenido-principal {
  font-size: 16px;
}

.div-a .btn-success {
  background-color: #03071e;
}

.div-a .btn-primary {
  background-color: #ffffff;
  color: #03071e;
  font-weight: 600;
  border: 1px solid black;
}

.div-a .btn-success:hover {
  background-color: #37373a;
}

.div-a .btn-primary:hover {
  background-color: #e0d6d6;
}

/* ABOUT ME */

.sobreMi {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

h2 {
  color: #1a3c6f;
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.p-sobreMi {
  font-size: 16px;
}

/* Services */

.myServices {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: #f5f2f2;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}

/* PROJECTS */

.myProject {
  margin-bottom: 3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-indicators button {
  display: none;
}

h5 {
  font-weight: 700;
  color: #03071e;
}

.btn-secondary {
  width: 45%;
}

.myProject .btn-secondary {
  background-color: #ffffff;
  color: #03071e;
  font-weight: 600;
  border: 1px solid black;
}

.myProject .btn-secondary:hover {
  background-color: #e0d6d6;
}

.myProject p {
  font-size: 14px;
}

/* Contact */

.contactSite {
  background-color: #f5f2f2;
  padding-bottom: 1rem;
}

.contact-p {
  text-align: center;
}

.buttons-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.buttons-contact #contactMe {
  width: 70%;
}

.buttons-contact #linkendIn {
  width: 70%;
}

.buttons-contact .btn-success {
  background-color: #03071e;
}

.buttons-contact .btn-primary {
  background-color: #ffffff;
  color: #03071e;
  font-weight: 600;
  border: 1px solid black;
}

.buttons-contact .btn-success:hover {
  background-color: #37373a;
}

.buttons-contact .btn-primary:hover {
  background-color: #e0d6d6;
}

/* footer */
.bi-envelope-fill{
  cursor: pointer;
}

/* BOTON FLOTANTE */
.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  z-index: 999;
  color: #0d6efd;
  transition: opacity 0.3s, transform 0.3s;
}

.scroll-btn:hover {
  transform: scale(1.1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


/* media query pantallas tablet */
@media (min-width: 768px) {

  body {
    margin-top: 4.5rem;
  }

  h1 {
    font-size: 2.8rem;
    width: auto;
  }

  .p-contenido-principal {
    width: 40ch;
    font-size: 16px;
  }

  .div-contenidoPrincipal {
    padding: 2rem;
    height: auto;
  }

  .img-perfil {
    width: 28%;
    position: static;
    margin: 2rem auto 0;
    display: block;
  }

  .div-a {
    justify-content: flex-start;
  }

  /* About */
  .p-sobreMi {
    width: 70ch;
    font-size: 16px;
    margin: auto;
  }

  /* Services */
  .myServices {
    height: 22rem;
    margin-top: 2rem;
  }

  /* Carousel */
  .project-img {
    width: 32rem !important;
    margin: auto;
  }

  .project-img4 {
    width: 20rem !important;
    margin: auto;
  }

  .carousel-item p {
    font-size: 15px;
  }

  .carousel-item p {
    width: 50ch;
    margin: auto;
    padding-bottom: 1rem;
  }

  .mt-3 a {
    width: 10rem;
  }

  /*  contact */
  .buttons-contact #contactMe {
    width: 14rem;
  }

  .buttons-contact #linkendIn {
    width: 14rem;
  }

  .contactSite {
    height: 13rem;
    width: 90%;
    margin: auto;
  }

}

/* media query pantallas laptops medianas */
@media (min-width: 992px) {

  h1 {
    font-size: 3.5rem;
  }

  .p-contenido-principal {
    width: 44ch;
    font-size: 17px;
  }

  .div-contenidoPrincipal {
    height: 22rem;
    padding-left: 4rem;
  }

  .img-perfil {
    width: 18%;
    position: absolute;
    top: 1.8rem;
    right: 6rem;
    height: auto;
  }

  .p-sobreMi {
    width: 80ch;
    font-size: 17px;
  }

  /* Carousel */
  .project-img {
    width: 36rem !important;
  }

  .carousel-item p {
    max-width: 44ch;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}



/* media query pantallas grandes */
@media (min-width: 1200px) {

  /* NAVBAR */

  .navbar-brand {
    font-size: 26px;
    padding-left: 6rem;
  }

  .navbar-nav {
    margin-right: 4rem;
  }

  /* Contenido principal */

  body {
    padding-top: 2rem;
  }

  h1 {
    width: 2ch;
    font-size: 4rem;
  }

  .p-contenido-principal {
    width: 46ch;
    font-size: 18px;
  }

  .img-perfil {
    width: 14%;
    height: auto;
    position: absolute;
    top: 4rem;
    right: 20rem;
  }

  .div-contenidoPrincipal {
    height: 26rem;
    padding-left: 5rem;
    padding-top: 1rem;
  }

  .div-a {
    display: flex;
    padding-top: 1rem;
    gap: 0.5rem;
  }

  #contactMe1 {
    width: 12rem;
    height: 2.5rem;
  }

  #linkendIn {
    width: 12rem;
    height: 2.5rem;
  }

  /* about me */
  .p-sobreMi {
    width: 85ch;
    margin: auto;
    gap: 1rem;
    font-size: 18px;
  }

  /* MY SERVICES */

  .myServices {
    margin-top: 1rem;
    height: 23rem;
  }

  #exampleModalLabel {
    font-size: small;
  }

  /* carrusel */

  .project-img {
    width: 40rem !important;
    margin: auto;
  }

  .project-img4 {
    width: 24rem !important;
    height: auto !important;
    margin: auto;
  }

  .carousel-item .btn-secondary {
    width: 9rem;
  }

  .carousel-item p {
    font-size: 16px;
    max-width: 46ch;
    margin: auto;
    padding-bottom: 1rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }

  /* contact */

  .contactSite {
    height: 10rem;
    width: 84%;
    margin: auto;
  }

  .buttons-contact #contactMe {
    width: 12rem;
  }

  .buttons-contact #linkendIn {
    width: 14rem;
  }

  .buttons-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}